/*
!.git
!.gitignore
!.gitattributes
!.npmrc
!bunfig.toml
!tsconfig.json
!vite.config.ts
!bun.lock
!/package.json
!/apps
!/packages
!/patches
# !/content
!.env.build.example

**/build
**/dist
**/.source
**/.evlog
**/.output
**/.tanstack
**/.workflow-*/
**/node_modules
**/README.md
**/CHANGELOG.md
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*
