# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET= # Generate a secret key: `bunx --bun @better-auth/cli secret`

VITE_SENTRY_DSN=fill-me-in
SENTRY_AUTH_TOKEN=fill-me-in
SENTRY_ORG=fill-me-in
SENTRY_PROJECT=chakra