DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres
BETTER_AUTH_ADMINS=01a069fa-298e-773d-8e54-af85d5d62f9b
BETTER_AUTH_ADMIN_EMAIL=dummy@email.com
BETTER_AUTH_ADMIN_PASSWORD=dummy-password
SHARED_ORGANIZATION_ID=01a069f9-7d34-71fe-b48c-25b276fac456
SMTP_HOST=dummy-smtp-host
SMTP_PORT=465
BETTER_AUTH_SECRET=dummy-secret-key-dummy-secret-key-dummy-secret-key-dummy-secret-key
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
FILES_API_SECRET=dummy-secret-key-dummy-secret-key-dummy-secret-key-dummy-secret-key
S3_ACCESS_KEY_ID=dummy-secret-key-dummy-secret-key-dummy-secret-key-dummy-secret-key
S3_SECRET_ACCESS_KEY=dummy-secret-key-dummy-secret-key-dummy-secret-key-dummy-secret-key
OPENAI_API_KEY=sk-proj-dummy-key
VITE_APP_NAME=chakra
VITE_BETTER_AUTH_URL=http://localhost:3000
VITE_TURNSTILE_SITE_KEY=1x00000000000000000000AA
