intro {
  --color-fd-primary: var(--intro-color);
}
.developer {
  --color-fd-primary: var(--developer-color);
}

.openapi {
  --color-fd-primary: var(--openapi-color);
}

:root {
  --intro-color: hsl(41, 100%, 40%);
  --developer-color: hsl(250, 80%, 54%);
  --openapi-color: hsl(217, 100%, 58%);
}

.dark {
  --intro-color: #fff383;
  --developer-color: hsl(250 100% 80%);
  --openapi-color: #a9ceff;
}
